/*Variables*/

$first-color: #FFD03A;
$first-alpha-color: #c09e30;
$second-color: #050505;
$second-alpha-color: rgb(252, 252, 252);
$third-color: #990100;
$third-alpha-color: #720f0f;

$link-color: rgb(0, 0, 0);
$link-alpha-color: rgba(80, 158, 227, 0.75);

$bg-color: #610510;
$bg-alpha-color: #b80606;



